/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
